Source: wdb-demload  
Section: science
Priority: extra
Maintainer: WDB Group, Meteorologisk institutt <wdb@met.no>
Uploaders: Michael O. Akinde <michael.akinde@met.no>
Build-Depends: debhelper (>= 5),
 autotools-dev,
 cdbs,
 libwdbload3 (>= 2.1.0)
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.9.3

Package: wdb-demload
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libwdbload3 (>= 2.1.0)
Description: Load USGS DEM topography files into wdb
 This package is intended solely for loading 25 meter topography files from 
 statkart into wdb. Any other loadings may fail.

Package: wdb-terrain-norway-25m
Architecture: any
Depends: ${misc:Depends},
 wdb-demload,
 metno-data-terrain-norway-25m
Description: Load topography of 25 meter resolution into wdb - met.no-internal package
 This package installs topography .dem files, through the 
 metno-data-terrain-norway-25m package, and loads it using demLoad. Note that 
 uninstalling this package will not remove the topography from wdb.
